# Supabase
.env
.env.local
**/node_modules
**/package-lock.json

# Function deployment artifacts
functions/**/dist
functions/**/build
functions/**/.deno

# Local database files
.branches
.temp

# Secrets
secrets.toml
